{{ ansible_managed | comment }}
{% for export in nfs_server_exports %}
{{ export.path }} {% for client in export.clients %}{{ client.host }}({{ client.options }}){% if not loop.last %} {% endif %}{% endfor %}

{% endfor %}
